<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}
    <form action="http://127.0.0.1:8000/reset_password" method="post">
        {% csrf_token %}
        <label for="pass1">New Password: </label><br>
        <input type="password" name="pass1"><br><br>

        <label for="pass2">Re-enter New Password</label><br>
        <input type="password" name="pass2"><br><br>

        <input type="hidden" name="token" value="{{token}}">

        <input type="submit" value="Reset Password">
    </form>
</body>
</html>