<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}
    <h3>Sign In</h3>
    <form action="signin" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password"><br>

        <button type="submit">Sign In</button>
    </form>
</body>
</html>